* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 100vh;
    width: 100%;
    background-color: slategray;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: palevioletred;
    border-bottom: 1px solid plum;
    position: relative;
    z-index: 10;
}
/* CSS untuk animasi link di navbar */
nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12;  /* Ubah warna saat hover */
}

.logo {
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: white;
}
span {
    color: white;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
}
nav ul li a {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li :hover {
    color: slategray;
    transition: 0,5s;
}
.btn {
    background-color: slategray;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: transform .5s;
}
.btn:hover {
    transform: scale(1.2);
    border: 2px solid slategray;
    background-color: transparent;
}
.image {
    width: 80%;
    height: 125%;
    position: absolute;
    bottom: 0;
    right: 20px;
    transform: rotateY(180deg);
}
.image img {
   height: 100%;
   width: 45%;
   position: absolute;
   bottom: 0;
   right: 45%;
   transform: rotateY(180deg);
}
.content {
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
    font-size: 20px;
}
h1 {
    color: white;
    font-size: 65px;
    margin: 20px 0 20px;
}
h4 {
    color: yellowgreens;
    letter-spacing: 2px;
    font-size: 20px;
}
h1 {
    color: white;
    font-size: 65px;
    margin: 20px 0 20px;
}
h3 {
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
.content a {
    font-size: 20px;
    background: palevioletred;
    color: black;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid black;
    transition: .5s;
}
.content a:hover {
    background: transparent;
    border: 2px solid palevioletred;
}
.about {
    width: 100%;
    padding: 100px 0;
    background-color: palevioletred;
}
.about-me {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    justify-content: space-around;
}
.about-me img {
    height: auto;
    width: 430px;
    border-radius: 10px;
}
.about-text {
    width: 550px;
}
.about-text h2 {
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
.about-text h5  {
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
.about-text h5 {
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p {
    color: black;
    letter-spacing: 3px;
    line-height: 28PX;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
.button {
    background-color: skyblue;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}
.button:hover {
    background-color: transparent;
    border: 2px solid slategray;
    cursor: pointer;
}
.Hobby {
    background: slategray;
    width: 100%;
    padding: 100px 0;
}
.title h2 {
    color: black;
    font-size: 75px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.card{
    height: 365px;
    width: 260px;
    padding: 20px 35px;
    background: palevioletred;
    border-radius: 30px;
    margin: 6.0px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid white;
}
.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 30px 0;
    color: white;
}
.card h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p {
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
}
.pra p a {
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.pra p a:hover {
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}
.Activity {
    background: slategray;
    width: 100%;
    padding: 100px 0;
}
.contact-me {
    width: 90%;
    padding: 100px;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-text h2 {
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: center;
}
.contact-box {
    color: black;
}
.contact-box:after {
    content: '';
    display: block;
    clear: both;
}
.contact {
    width: 30%;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.contact h4 {
    color: white;
    padding-bottom: 15px;
}
.contact p {
      font-size: 20px;
}
footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2) {
    color: black;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social {
    display: flex;
}
.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: palevioletred;
    border-radius: 50%;
    margin: 15px 10px;
    color: black;
    border: 2px solid black;
}
.social a:hover {
    transform: scale(1.3);
    transition: 0,5s;
    background: transparent;
    border: 2px solid palevioletred;
}
.home {
    height: 100vh;
    width: 100%;
}  
